*.dll
*.exe
*.env
.DS_Store
example.tf
bin/
dist/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor
vendor/
.vscode/

# Terraform
terraform.tfplan
terraform.tfstate
.terraformrc
./*.tfstate
.terraform/

terraform-provider-bitbucket

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
bitbucket/resource_commit_file_test.go
